.container{
    max-width: 1100px;
    margin: 0 auto;
}

.cell {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid white;
    background-color: gold;
    color: purple;
    cursor: pointer;
}

.cell-100{
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.cell-81{
    width: calc(1000px / 9);
    height: calc(1000px / 9);
    line-height: calc(1000px / 9);
}

.cell-49{
    width: calc(1000px / 7);
    height: calc(1000px / 7);
    line-height: calc(1000px / 7);
}

.cell.active {
    background-color: purple;
    color: gold;
}

.purple-color{
    color: purple;
}